/*
 * Legacy icon + layout helpers imported from historical content.
 * This file bypasses the Tailwind build so classes referenced in WXR imports
 * stay intact regardless of purging.
 */
.paragraph-colour {
  color: var(--ParagraphColor, currentColor) !important;
}

.paragraph-colour b {
  color: var(--BackgroundNavFooter, currentColor) !important;
}

.primary-colour {
  color: var(--PrimaryColor, currentColor) !important;
}

.secondary-colour {
  color: var(--SecondaryColor, currentColor) !important;
}

.primary-colour-background {
  background: var(--SecondaryColor, transparent);
}

.svg-icon-primary-colour {
  fill: var(--BackgroundNavFooter, currentColor) !important;
}

.svg-icon-secondary-colour {
  fill: var(--IconFrameColor, currentColor) !important;
}

.gradetable1 thead,
.gradetable1 tbody td:first-child {
  background-color: color-mix(in srgb, var(--BackgroundNavFooter, #1f2937) 25%, transparent);
}

.icon-set-size {
  font-size: 11rem;
  margin: 0;
  line-height: 1;
}

.how-to-measure-pic {
  width: 20% !important;
}

.icon-set-size-huge {
  font-size: 12rem;
  margin: 0;
  line-height: 1;
}

.icon-set-size-huge-2 {
  font-size: 14rem;
  margin: 0;
  line-height: 1;
}

.icon-set-size-huge-3 {
  font-size: 16rem;
  margin: 0;
  line-height: 1;
}

#term-condition > div > * {
  font-size: 14px;
}

.icon-set-size-type {
  font-size: 8rem !important;
  margin: 0;
  line-height: 1;
}

.icon-set-size-type-2 {
  font-size: 9rem;
  margin: 0;
  line-height: 1;
}

.icon-set-size-type-3 {
  font-size: 6rem;
  margin: 0;
  line-height: 1;
}

.nomarginbottom {
  margin-bottom: 0;
}

.nomargintop {
  margin-top: 0;
}

.nomargin {
  margin: 0;
}

.type-title {
  margin-top: 0;
  line-height: 1;
}

.icon-set-size-type-small {
  font-size: 7rem;
  margin: 0;
  line-height: 1;
}

.margin1em {
  margin: 1em 0;
}

.svg-inline--fa {
  max-width: 100% !important;
}

.icon-set-size svg,
.icon-set-size-huge svg,
.icon-set-size-huge-2 svg,
.icon-set-size-huge-3 svg,
.icon-set-size-type svg,
.icon-set-size-type-2 svg,
.icon-set-size-type-3 svg,
.icon-set-size-type-small svg {
  width: 1em !important;
  height: 1em !important;
}

.icon-top-style {
  flex-basis: 40%;
}

.top-style .stk-inner-blocks {
  flex-wrap: nowrap;
}

.icon-top-style {
  max-width: fit-content;
  padding-right: 10px;
}

.entry-content > * {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.stk-block.stk-block-column.stk-column > .stk-column-wrapper {
  margin-top: 0;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 699px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .icon-set-size-type-2,
  .icon-set-size-huge {
    font-size: 6rem;
    margin: 0;
    line-height: 1;
  }

  .icon-set-size-type,
  .icon-set-size {
    font-size: 5rem !important;
  }

  .icon-set-size-type-3 {
    font-size: 3.5rem;
    margin: 0;
    line-height: 1;
  }

  .type-title {
    font-size: 1.9em;
  }

  .icon-gallery .stk-row {
    flex-wrap: nowrap !important;
  }

  .stk-block.stk-block-column.stk-column > .stk-column-wrapper {
    margin: 0;
  }
}

.gradetable1,
.gradetable1 table {
  margin-bottom: 0;
}

.custom-layout-col {
  display: grid !important;
  grid-template-columns: 1fr 5fr;
  grid-column-gap: 18px;
  margin-bottom: 0;
}

@media only screen and (max-width: 599px) {
  .custom-layout-col {
    grid-template-columns: 1fr 3fr;
  }
}

@media only screen and (max-width: 500px) {
  .custom-layout-col {
    grid-template-columns: 1fr 2fr;
  }
}

@media only screen and (max-width: 380px) {
  .custom-layout-col {
    grid-template-columns: 1fr 1fr;
  }
}

.custom-layout-col-inverse {
  display: grid !important;
  grid-template-columns: 5fr 1fr;
  grid-column-gap: 18px;
  margin-bottom: 0;
}

@media only screen and (max-width: 599px) {
  .custom-layout-col-inverse {
    grid-template-columns: 1fr 3fr;
  }
}

@media only screen and (max-width: 500px) {
  .custom-layout-col-inverse {
    grid-template-columns: 1fr 2fr;
  }
}

@media only screen and (max-width: 380px) {
  .custom-layout-col-inverse {
    grid-template-columns: 1fr 1fr;
  }
}

.side-by-side {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 18px;
}

.margin-top-table {
  margin-top: 24px !important;
}

.side-by-side-3 {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 18px;
}

.indent {
  padding-left: 2.5em !important;
}

.custom-layout-col-hard {
  display: grid !important;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 18px;
  margin-bottom: 18px;
}

.custom-layout-col-hard h2,
.custom-layout-col-hard p {
  margin-bottom: 8px;
}

@media only screen and (max-width: 599px) {
  .custom-layout-col-hard {
    grid-template-columns: 1fr 3fr;
  }
}

@media only screen and (max-width: 500px) {
  .custom-layout-col-hard {
    grid-template-columns: 1fr 2fr;
  }
}