/*
Theme Name: ICP Wiki Child
Template: ewenique-core
Author: Romulo Lessa
Author URI: https://blacksheepcreative.com.au
Description: Child theme that layers the ICP Wiki branding, CPTs, and Help Topic tooling on top of the ewenique-core (Tailwind) framework.
Version: 0.1.0
Text Domain: wiki-icp
*/
